.container
{
    margin: 50px 0 0 40px;
}
.title
{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}
 .list
 {
     padding: 0 0 0 17px;
 }
 .item
 {
     color: #FB6D3A;
 }
 .text
 {
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 24px;
     color: #fff;
 }