.mainTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.container {
  margin-bottom: 50px;
}
.projectsList {
  padding: 0 0 0 13px;
}
.link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding: 0 0 0 5px;
}
.linkBlock {
  overflow: hidden;
  width: 350px;
}
.tehnology {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.spacer {
  composes: tehnology;
  margin-left: 5px;
}
.projectsBracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.item {
  font-weight: 700;
}
.itemContainer {
  display: flex;
}
.tehnologyBlock {
  display: block;
  margin-left: 5px;
}
