.projectsList {
  padding-left: 20px;
  list-style: none;
}
.item {
  margin-bottom: 15px;
}
.itemContainer {
  display: flex;
}
.link {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  white-space: nowrap;
}
.link:hover,
.link:focus {
  color: var(--accent);
}
.linkBlock {
  overflow: hidden;
  width: 300px;
  flex-wrap: nowrap;
}
.description {
  font-style: italic;
}
.tehnologyBlock {
  margin-left: 5px;
}
.tehnology {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--text);
}

.spacer {
  composes: tehnology;
  margin-left: 5px;
  display: inline;
}
.bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--vidider);
  font-weight: 700;
}
