.period {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--period);
  margin: 0 0 10px 0;
}
.university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent);
  margin: 0 0 0 0;
}
.specialty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 10px 0 10px 0;
}