body 
{   font-family: 'Montserrat', sans-serif;
    background-color: #c7c2c2d5;
}

.mainContainer{
    background-color: #E5E5E5;
    width: 1200px;
    margin: 0px auto;
    padding: 5px;
}
.container{   
    background-color: #fff; 
    width: 1200px;
    display: flex;
    flex-direction: row-reverse; 
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);          
}

/* Main_content_section*/
 .mainContent{
    padding: 100px 90px; 
}