.header {
  font-style: normal;
  font-weight: bold;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.myName {
  composes: header;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 10px;
}
.profession {
  composes: header;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.level {
  composes: profession;
  color: var(--accent);
}

.description {
  /* width: 400px; */
  padding-left: 20px;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--text);
}
